<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="/css/style.css" rel="stylesheet">
    <script src="/node_modules/@fortawesome/fontawesome-free/js/brands.js"></script>
    <script src="/node_modules/@fortawesome/fontawesome-free/js/solid.js"></script>
    <script src="/node_modules/@fortawesome/fontawesome-free/js/fontawesome.js"></script>
</head>

<body>
    <header>
        <h1>LOGO</h1>
        <nav>
            <a href="/interface2">Accueil</a>
            <a href="/interface2">Blogue</a>
            <a href="/interface2">À propos</a>
            <a href="/interface2">Nous Joindre</a>
        </nav>
    </header>
    <div class="container">
        {{content|safe}}
    </div>
    <footer>
        <div class="copyright">© Nom du blogue - Tous droit réservés.</div>
        <div class="credit">Crédit agance web</div>
    </footer>
</body>

</html>